# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# IDEA

.idea/
*.iml
*.ipr
*.iws

# VSCode

.settings/
.vscode/
bin/
.classpath
.project

# macOS

*.DS_Store

# Fabric

run/

# Java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
