# ==================================================
# Discord-MC-Chat (DMCC)
# By Xujiayao
#
# Config file for DMCC version & mode:
# Do NOT change these values manually!
version: ${mod_version}
mode: standalone
#
# Discord-MC-Chat Wiki:
# https://dmcc.xujiayao.com/
# ==================================================

# 语言设置
language: en_us

# Minecraft 版本设置
# 取你所有子服务器中最高的版本
minecraft_version: ${minecraft_version}

# 机器人设置
bot:
  token: your_token_here # Discord 机器人令牌
  rich_presence: # TODO
    enable: true

# 关闭设置
shutdown:
  graceful_shutdown: true # 是否优雅关闭服务器

# Webhook 设置
webhook:
  enable: true # 是否使用 Webhook 发送聊天消息
  avatar_url: https://mc-heads.net/avatar/{player_uuid}.png
  allowed_mentions: # TODO 允许 Webhook 触发提及的对象
    - everyone
    - users
    - roles

# 检查更新设置
check_for_updates:
  enable: true # 是否检查更新
  mention_admins: true # 是否在更新通知中提及管理员
  channel: in-game-chat

# 消息广播设置
broadcasts:
  discord_to_minecraft: # true or false
    chat: true
    command: true
  minecraft_to_discord: # channel name, empty = disable
    server:
      started: in-game-chat
      stopped: in-game-chat
    player:
      join: in-game-chat
      quit: in-game-chat
      chat: in-game-chat
      command: in-game-chat
      die: in-game-chat
      advancement: in-game-chat
    source:
      say: in-game-chat
      tell_raw: in-game-chat

# 多服务器功能
multi_server:
  connection:
    # Limit accessibility
    ip: 0.0.0.0
    port: 5000
  security:
    # This secret key is automatically generated on first startup.
    # You MUST copy this exact key to all your multi-server clients.
    shared_secret: will_be_auto_generated
  servers:
    # This list acts as a whitelist. Only clients with a serverName defined here are allowed to connect.
    - name: SMP
      color: yellow
      start_command: ./SMP/start.bat # command or url

# MSPT 监控设置
mspt_monitoring:
  enable: true
  interval_seconds: 5
  threshold: 50
  channel: in-game-chat

# 控制台转发设置
console_forwarding:
  enable: true
  execute_command: true
  channel: console_forwarding

# 管理员设置
dmcc_admin:
  # 任何在游戏内拥有此 OP 等级的玩家，将自动被视为 DMCC 管理员，从而可以使用所有 DMCC 管理命令。
  # 注意：如果某 Discord 用户想使用 DMCC 管理命令，他必须先将账户与一个满足此 OP 等级的 MC 账户链接，否则仅可在游戏内使用管理命令。
  minecraft_op_level_requirement: 4

# 账户绑定设置
# 强制启用，若MC里为某op_level，自动成为DMCC管理员，允许使用管理命令
account_linking:
  features:
    sync_role_colors: true
    sync_op_level_based_on_discord_roles:
      # 根据用户的 Discord 角色，来自动地为他们在游戏内授予或撤销 OP 权限。
      enable: true
      list:
        # 示例：任何拥有 "Admins" Discord 角色的已链接玩家，都将被 DMCC 自动设置为 4 级 OP。
        # 一旦他们成为 4 级 OP，他们也会因为上面的 minecraft_op_level_requirement 规则而自动成为 DMCC 管理员。
        - role_name: Admins
          op_level: 4
    discord_mention_notifications:
      enable: true
      style: action_bar # action_bar, title, or chat
    discord_user_avatar_for_webhooks: true

# 频道主题更新设置
channel_topic_updating:
  enable: true
  interval_seconds: 600
  channel: in-game-chat

# 命令权限设置
command_permissions:
  help: everyone
  info: everyone
  stats: everyone
  update: everyone
  console: admin
  disable: admin
  enable: admin
  execute: admin
  log: admin
  reload: admin
  shutdown: admin
  start: admin
  stop: admin
  # link: everyone
  # whitelist: admin

# 消息格式设置
formatting: # TODO
  format_chat_messages: true
  todo: true

# 命令过滤设置
excluded_commands:
  - /msg (?!@a)(.*)
  - /tell (?!@a)(.*)
  - /tellraw (?!@a)(.*)
  - /w (?!@a)(.*)
  - /teammsg (.*)
  - /tm (.*)
  - /login (.*)
  - /l (.*)
  - /register (.*)
  - /reg (.*)
  - /account (.*)
  - /auth (.*)
