# ==================================================
# Discord-MC-Chat (DMCC)
# By Xujiayao
#
# Config file for DMCC version & mode:
# Do NOT change these values manually!
version: ${mod_version}
mode: multi_server_client
#
# Discord-MC-Chat Docs:
# https://dmcc.xujiayao.com/
# ==================================================

# 多服务器功能
multi_server:
  server_name: "your_server_name_here"
  connection:
    host: "127.0.0.1"
    port: 5000

# DMCC 命令权限设置
# OP 等级对应的官方 Minecraft 权限级别：
#   Level 0 (normal)
#     Player has no special permissions.
#   Level 1 (moderator)
#     Player can bypass spawn protection.
#   Level 2 (gamemaster)
#     Player or executor can use more commands and player can use command blocks.
#   Level 3 (admin)
#     Player or executor can use commands related to multiplayer management.
#   Level 4 (owner)
#     Player or executor can use all the commands, including commands related to server management.
command_permission_levels:
  help: 0  # 可用命令根据用户的权限等级动态显示
  reload: 4

# 统计数据收集设置
# 收集匿名的使用数据以帮助改进 DMCC
# 包括模组版本、服务器软件类型和版本、已启用的功能、各设置的选项、所属国家等信息
telemetry:
  enable: true
